@import 'iconfont';

$primary: #0635c9 !default;
$secondary: lighten($primary, 20) !default;

// Custom Component
.card {
  position: relative;
  display: block;
  padding: 24px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 6px 30px 0 rgba(black, .1);
}

// Helpers
.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

// Custom Style
body {
  font-family: 'Nunito', sans-serif;
  background-color: #f5f5f5;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  font-weight: 400;
  background-color: $primary;
  z-index: 9999999;
}

.signal {
  border: 3px solid currentColor;
  border-radius: 16px;
  height: 32px;
  width: 32px;
  opacity: 0;
  animation: pulsate 1s ease-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@font-face {
  font-family: Anurati;
  src: url('/fonts/anurati-regular.otf');
  src: local('Anurati');
  src: url('/fonts/anurati-regular.otf') format('opentype');
}

.navbar-dark {
  transition: .25s;

  &.bg-dark {
    background-color: $primary;
    box-shadow: 0 3px 5px -1px rgba(black, .2), 0 6px 10px 0 rgba(black, .14), 0 1px 18px 0 rgba(black, .12);
  }

  .navbar-brand {
    font-family: Anurati, sans-serif;
    text-transform: uppercase;
  }

  .navbar-nav {
    .nav-link {
      position: relative;
      padding: .5rem 1rem;
      color: rgba(white, .87);
    }

    .active > .nav-link {
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        height: 3px;
        background-color: $secondary;
      }
    }

    @media (max-width: 767px) {
      background-color: $primary;

      .active > .nav-link {
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 3px;
          height: 100%;
        }
      }
    }
  }
}

.section {
  position: relative;

  &-title {
    position: relative;
    margin-bottom: 50px;
    text-align: center;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: -13px;
      height: 3px;
      border-radius: 2px;
      background-color: $primary;
    }

    &::before {
      left: calc(50% - 35px);
      width: 50px;
    }

    &::after {
      right: calc(50% - 35px);
      width: 15px;
    }

    h3 {
      &::before {
        content: attr(data-title);
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        font-size: 6rem;
        font-weight: bold;
        color: rgba(black, .04);
        overflow: hidden;
      }
    }

    h3,
    p {
      margin-bottom: 0;
    }
  }
}

.main-footer {
  padding: 24px 0;
  background: lighten(black, 12);
  color: lighten(black, 47);

  svg {
    color: $secondary;
  }
}

.social-links {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  line-height: 46px;
  vertical-align: middle;
  transition-delay: .6s;

  li {
    display: inline-block;
    margin: 0 2px;

    a {
      display: block;
      width: 40px;
      height: 40px;
      color: lighten(black, 40);
      text-align: center;
      border-radius: 50%;

      &:hover,
      &:focus {
        background: $primary;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.btn-back-to-top {
  position: fixed;
  right: 45px;
  bottom: 28px;
  width: 56px;
  height: 56px;
  padding: 0 0 2px;
  line-height: 50px;
  color: white;
  border-radius: 50%;
  outline: 0;
  z-index: 5;
  cursor: pointer;
  background: $primary;
  box-shadow: 0 0 4px rgba(black, .14), 0 4px 8px rgba(black, .28);

  &.hide {
    transform: scale(0);
  }

  @media (max-width: 767px) {
    right: 22px;
    bottom: 18px;
    width: 44px;
    height: 44px;
    line-height: 42px;
  }
}

.section-banner {
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url('/img/banner.jpg') center no-repeat fixed;
  background-size: cover;

  .banner-container {
    display: table-cell;
    padding: 120px 0;
    vertical-align: middle;
    color: white;
    background: rgba($primary, .8);
  }

  h1 {
    font-size: 60px;
    line-height: 1.3;

    .title-caption {
      display: block;
      padding: 4px 0;
      font-size: 16px;
      opacity: .56;
      text-transform: uppercase;
    }
  }

  .btn-outline {
    margin-top: 16px;
    color: white;
    border-color: currentColor;
    border-radius: 24px;
    background-color: transparent;
    background-image: none;

    &:hover {
      color: $primary;
      background-color: white;
    }
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 36px;
    }

    .txt-static {
      display: block;
    }

    .txt-rotate {
      white-space: nowrap;
    }
  }
}

.typed-cursor {
  opacity: 1;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.section-about {
  margin-top: 120px;

  .card {
    padding: 120px 16px 36px;
  }

  .section-title {
    margin: 0 0 24px;
  }

  .person-info {
    .person-info-item {
      font-size: 13px;
      padding-bottom: 16px;
      text-align: left;

      .key {
        display: inline-block;
        font-weight: 700;
        color: #555;
        text-transform: uppercase;
      }

      .val {
        display: inline-block;
        font-weight: 400;
        color: #999;
        padding-left: 5px;
      }
    }
  }

  .about-btn {
    margin-top: 36px;
  }

  .avatar-lg {
    position: absolute;
    top: -85px;
    left: 50%;
    width: 160px;
    height: 160px;
    margin-left: -85px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 3px 8px 0 rgba(black, .36);
    z-index: 1;
  }
}

.section-about-bottom {
  padding: 120px 0;

  i {
    margin-bottom: 16px;
    padding: 40px 42px;
    font-size: 40px;
    color: #777;
    border: 1px dashed rgba(black, .36);
    border-radius: 50%;
    transition: .2s;
  }

  .personal-blurb:hover i {
    color: $primary;
    border: 1px solid currentColor;
    box-shadow: 0 0 0 1px currentColor;
  }
}

.section-offer {
  padding: 120px 0;
  background: #f9f9f9;
  transition: 200ms;

  .offer {
    position: relative;
    padding: 30px 30px 30px 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 6px 30px 0 rgba(black, .1);
    transition: 200ms;

    &:hover {
      color: white;
      background-color: $primary;
    }

    h4 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  .icons {
    font-size: 40px;
  }

  .offer-icon {
    color: #777;
    position: absolute;
    left: 30px;
    top: 40px;
    transition: .2s;
    line-height: 0;
  }

  .offer:hover .offer-icon {
    color: white;
  }
}

.section-resume {
  padding: 120px 0;
}

.section-technical {
  padding: 120px 0;
  background: white;

  .skills {
    &-item {
      position: relative;
      margin-bottom: 24px;
    }

    .progress {
      height: 6px;

      &-bar {
        border-radius: 10px;
        background-color: $primary;
      }
    }

    .fi {
      width: 18px;
      height: 18px;
      font-size: 18px;
      text-align: center;
    }
  }
}

.section-portfolio {
  padding: 120px 0;
}

.demo {
  position: relative;
  display: block;
  margin-bottom: 32px;
  text-align: center;
  color: #252525;
  transition: .3s;

  &-page {
    display: block;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    transition: box-shadow .3s;
    box-shadow: 0 7px 30px 0 rgba(black, .1);

    &::before {
      position: relative;
      display: block;
      height: 36px;
      content: attr(href);
      padding: 10px 8px 10px 70px;
      font-size: 70%;
      color: #999;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      background: url('/img/demo-page-header.jpg') no-repeat;
      z-index: 1;
      box-shadow: 0 0 5px 0 rgba(black, .36);
    }

    &-img {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      background: no-repeat top;
      background-size: cover;
      transition: background-position .5s;
    }

    &:hover {
      text-decoration: none;
      box-shadow: 0 10px 30px rgba(37, 37, 37, .2);

      .demo-page-img {
        background-position: bottom;
        transition: background-position 6s linear;
      }
    }
  }

  &-title {
    color: $primary;
  }
}

.section-contact-info {
  position: relative;
  padding: 80px 0;
  background: black;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('/img/backpakers.jpg') center no-repeat;
    background-size: cover;
    opacity: .16;
  }

  .contact-info {
    display: flex;
    width: auto;
    padding: 7px 0;


    .contact-info-icon {
      position: relative;
      padding-right: 60px;
      color: $secondary;
      font-size: 40px;
      float: left;
      vertical-align: top;
      line-height: 1;

      .fi {
        width: 40px;
        text-align: right;
      }

      &::after {
        content: '';
        position: absolute;
        height: 57px;
        width: 1px;
        background-color: rgba(white, .12);
        right: 30px;
        top: -8px;
      }
    }

    .contact-info-content {
      vertical-align: top;

      .contact-info-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        color: rgba(white, .8);
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      .contact-content {
        font-size: 13px;
        font-weight: 400;
        color: rgba(white, .8);
      }
    }
  }

  @media (max-width: 991px) {
    padding: 60px 0;

    .contact-info {
      max-width: 300px;
      margin: 30px auto;

      .contact-info-icon {
        .fi {
          text-align: center;
        }
      }
    }
  }
}

.section-contact-form {
  padding: 120px 0;
  background: white;

  .contact-form {
    margin-top: 60px;
  }

  .form-control {
    padding: 12px 16px;
    border: 0;
    border-bottom: 2px solid rgba(black, .12);
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: none;

    &:focus {
      border-color: $primary;
    }
  }

  .btn {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    border: 0;
    border-radius: 24px;
    background-color: $primary;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(black, .16), 0 2px 10px 0 rgba(black, .12);
    outline: none;
  }
}

.section-contact-map {
  position: relative;
  min-height: 60px;
  overflow: hidden;
  background: url('/img/map-bg.jpg');
  background-size: cover;
  background-position: top;
  transition: all 5s;

  &:hover {
    background-position: bottom;
  }

  .map-buttons {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba($primary, .8);
    z-index: 5;
    transition: 1s ease;

    &:hover {
      background: rgba($primary, .5);
    }

    .btn {
      position: relative;
      width: 100%;
      height: 60px;
      padding: 0;
      font-size: 13px;
      font-weight: 700;
      color: white;
      line-height: 60px;
      border: 0;
      outline: none;
      text-transform: uppercase;
      background: transparent;
      box-shadow: none;
      cursor: pointer;
      overflow: hidden;

      &#map-close {
        display: none;
      }

      span {
        display: inline-block;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: all 200ms ease-in-out;
        transform-style: preserve-3d;
      }

      &.fi-chevron-up,
      &.fi-chevron-down {
        &::before {
          position: absolute;
          height: 100%;
          width: 100%;
          font-size: 22px;
          transition: all 200ms ease-in-out;
          left: 0;
        }

        &:hover {
          &::before {
            top: 0;
          }
        }
      }

      &.fi-chevron-down {
        &::before {
          top: -100%;
        }

        &:hover {
          span {
            transform: translateY(300%);
          }
        }
      }

      &.fi-chevron-up {
        &::before {
          top: 100%;
        }

        &:hover {
          span {
            transform: translateY(-300%);
          }
        }
      }
    }
  }

  .map-container {
    position: relative;
    height: 400px;
    margin-top: -400px;
    overflow: hidden;
    transition: all 600ms;
  }

  &.open {
    .map-buttons {
      .btn {
        &#map-open {
          display: none;
        }

        &#map-close {
          display: block;
        }
      }
    }

    .map-container {
      margin-top: 0;
    }
  }
}
